# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Test and coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
coverage/

# MyPy
.mypy_cache/

# PEP 582
__pypackages__/

# dotenv
.env
.env.*

# PyInstaller
*.spec

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Docker
*.pid

# test_folder
test_folder

